/* 
    Document   : estiloTablas
    Created on : 20-dic-2010, 16:24:27
    Author     : Mario
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

table.tablaVariable{
    width: 450px;
    text-align:left;
    border-width: medium;
    border-color: red;
}
table.tablaVariable2{
    width: 300px;
    text-align:left;
    border-width: medium;
}